{% load static %}
<!--DOCTYPE html-->
<html>
    <head>
        <title>Contemporary Hippie</title>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
    </head>
    
    
    <body>
                
        <!-- Wrapper-Start -->
        <div class="wrapper">
            
            
            <!-- Header-Start -->
            <header>
                
                <div class="search-bar">
                    <a class="search grey" href="#"><i class="fas fa-bars"></i></a>
                </div>
                
                <div class="logo-container">
                    <h1 class="logo grey">Contemporary</h1>
                    <img src="static/Untitled.png" alt="logo" />
                    <h1 class="logo grey">Hippie</h1>
                </div>

                <div class="social-links">
                    <ul>
                        <li><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="social-link" href="#"><i class="	far fa-envelope"></i></a></li>
                        <li><a class="social-link" href="#"><i class="fas fa-search antique"></i></a></li>
                        <li><a class="social-link" href="#"><i class="fas fa-shopping-bag antique"></i></a></li>
                    </ul>
                </div>
                
            </header>
            <!-- Header-End -->
            
            <!-- Nav-Start -->
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link primary" href="#">About</a></li>
                    <li><a class="nav-link" href="#">Live</a></li>
                    <li><a class="nav-link" href="#">Eat</a></li>
                    <li><a class="nav-link" href="#">Travel</a></li>
                    <li><a class="nav-link" href="#">Contact</a></li>
                    <li><a class="nav-link shop" href="#">Shop</a></li>
                </ul>
            </nav>
            <!-- Nav-End -->
            
            <!-- Hero-Start -->
            <div class="hero">
    
            </div>
            <!-- Hero-End -->
            
            <!-- Content-Start -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
            <!-- Content-End -->
            
            
            <!-- Sidebar-Start -->
            <div class="sidebar">
            </div>
            <!-- Sidebar-End -->
                     
            
            <!-- Footer-Start -->
            <div class="footer">
                
                <footer>
                    
                    <div class="quick-links">
                        <h2 class="title">Quick Links</h2>
                        <ul id="" class="links">
                            <li id="" class=""><a href="https://the-fit-foodie.com/terms-and-conditions/">Terms and Conditions</a></li>
                            <li id="" class=""><a href="https://the-fit-foodie.com/privacy-policy/">Privacy Policy</a></li>
                            <li id="" class=""><a href="https://the-fit-foodie.com/fit-foodie-shop-policies/">Shop Policies</a></li>
                            <li id="" class=""><a href="https://the-fit-foodie.com/contact/">Contact</a></li>
                        </ul>
                    </div>
                    <div class="social">
                        <h2 class="title">Connect with Us</h2>
                        <p>I get asked all the time what I shoot with and how I create consistently beautiful food</p>
                        <h3><a class="num" href="#"><i class="	far fa-envelope"></i> 071 508 4518</a></h3>
                        <h3><a class="mail" href="#"><i class="	far fa-envelope"></i> info@contempo.com</a></h3>
                    </div>

    <div class="contact">
        <h2 class="title">Newsletter</h2>
        <form>
            <input placeholder="First Name" type="text" name="widget-subscribe" class="widget-subscribe">
            <input placeholder="Your E-Mail" type="text" name="widget-subscribe" class="widget-subscribe">
        </form>
        <button type="submit" name="submit" class="btn large ">Sign Up!</button>
        <ul class="links">
            <li><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-link" href="#"><i class="	far fa-envelope"></i></a></li>
            <li><a class="social-link" href="#"><i class="fas fa-search antique"></i></a></li>
            <li><a class="social-link" href="#"><i class="fas fa-shopping-bag antique"></i></a></li>
        </ul>
    </div>
</footer>

<div class="bottom">
    <ul id="" class="links">
        <li id="" class=""><a href="https://the-fit-foodie.com/terms-and-conditions/">Terms and Conditions</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/privacy-policy/">Privacy Policy</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/fit-foodie-shop-policies/">Shop Policies</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/contact/">Contact</a></li>
    </ul>	
</div>
            
            </div>
            <!-- Footer-End -->
            
        </div>
        <!-- Wrapper-End -->
        
    </body>
</html>
