{% extends 'blog/base.html' %}

{% block footer %}
<footer>
    
    <div class="quick-links">
        <h2 class="title">Quick Links</h2>
        <ul id="" class="links">
            <li id="" class=""><a href="https://the-fit-foodie.com/terms-and-conditions/">Terms and Conditions</a></li>
            <li id="" class=""><a href="https://the-fit-foodie.com/privacy-policy/">Privacy Policy</a></li>
            <li id="" class=""><a href="https://the-fit-foodie.com/fit-foodie-shop-policies/">Shop Policies</a></li>
            <li id="" class=""><a href="https://the-fit-foodie.com/contact/">Contact</a></li>
        </ul>					
    </div>
        
    <div class="social">
        <h2 class="title">Connect with Us</h2>
        <p>I get asked all the time what I shoot with and how I create consistently beautiful food</p>
        <h3><a class="num" href="#"><i class="	far fa-envelope"></i> 071 508 4518</a></h3>
        <h3><a class="mail" href="#"><i class="	far fa-envelope"></i> info@contempo.com</a></h3>
    </div>

    <div class="contact">
        <h2 class="title">Newsletter</h2>
        <form>
            <input placeholder="First Name" type="text" name="widget-subscribe" class="widget-subscribe">
            <input placeholder="Your E-Mail" type="text" name="widget-subscribe" class="widget-subscribe">
        </form>
        <button type="submit" name="submit" class="btn large ">Sign Up!</button>
        <ul class="links">
            <li><a class="social-link" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="social-link" href="#"><i class="	far fa-envelope"></i></a></li>
            <li><a class="social-link" href="#"><i class="fas fa-search antique"></i></a></li>
            <li><a class="social-link" href="#"><i class="fas fa-shopping-bag antique"></i></a></li>
        </ul>
    </div>
</footer>

<div class="bottom">
    <ul id="" class="links">
        <li id="" class=""><a href="https://the-fit-foodie.com/terms-and-conditions/">Terms and Conditions</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/privacy-policy/">Privacy Policy</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/fit-foodie-shop-policies/">Shop Policies</a></li>
        <li id="" class=""><a href="https://the-fit-foodie.com/contact/">Contact</a></li>
    </ul>	
</div>
{% endblock %}