{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
<div class="latest-posts">
    <div class="image-container">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </div>
    
    <div class="content-container">
        <div class="top">
            {% for category in post.categories.all %}
            <h4 class="category"><a class="primary" href="{% url 'post_category' category.name %}">{{ category.name }}</a></h4>
            {% endfor %}
            
            <h4 class="date grey">{{ post.published_date }}</h4>
        </div>
        
        <h1 class=""><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.snippit|linebreaksbr }}</p>
        <button type="submit" name="read" class="btn large"><a href="{% url 'post_detail' pk=post.pk %}">Read More!</a></button>
    </div>
</div>
{% endfor %}
{% endblock %}
